<div class="modal-container">
  <h1>Reset Password</h1>
  <div class="password-reset">
    <form action="/reset" method="POST">
      <div class="form-group">
        <label for="newpassword">New Password</label>
        <input type="password" class="form-control" name="newpassword" id="newpassword">
        <input name="token" type="hidden" value="{{token}}" />
        <input type="submit" class="btn btn-primary" value="Reset">
      </div>
    </form>
  </div>
</div>